
.main-screen {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.main-screen .main-text {
  font-size: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 22px;
  color: #fff;
  background: #5187ed;
  margin: auto;
  box-sizing: border-box;
}


body, html {
  margin: 0;
  height: 100%;
  font-family: system-ui;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

